# File example for .env
# Create file named ".env" in the root of this folder, copy the content of this example
# And update with your credentials

# Credentials for Power BI Rest Api Authentication - Scope: Service Principal - Azure AD App
PBI_TENANT_ID = azure_app_tenant_id
PBI_CLIENT_ID = azure_app_client_id
PBI_CLIENT_SECRET = azure_app_client_secret

# Power BI Workspaces Ids to be extracted data
PBI_WORKSPACES_IDS = workspace_id_01,workspace_id_02

# Output directory on local machine
OUTPUT_DIR = C:/user/user_name/downloads